<div class="container"><!-- queston-->
  <% if @answer.errors.any? %>
    <div class="row">
      <div class=" col-xs-9 alert alert-danger">
          <ul>
            <% @answer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <%if @comment.errors.any? %>
    <div class="row">
      <div class=" col-xs-9 alert alert-danger">
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      </div>
    <% end %>

  <div class="row">
    <h2><%= @question.title %></h2>
    <%= render partial: "questions/votes", locals: {voteable: @question} %>
    <div class="col-xs-10">
      <p><%= @question.description %></p>
    </div>
  </div>
  <!-- comments-->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1">
      <%= render partial: "questions/comments", locals: {commentable: @question} %>
      <% if user_signed_in? %>
        <%= render partial: "questions/comments_form", locals: {commentable: @question} %>
      <% end %>
    </div>
  </div>



  <!-- respuestas list-->
  <div class="row">
    <h3><%= @question.answers.count %> Respuestas</h3>
  </div>
  <% @question.answers.each do |answer|  %>
  <% unless answer.id.nil? %>
  <hr>
  <div class="row">

      <%= render partial: "questions/votes", locals: {voteable: answer} %>
    <div class="col-xs-10">

      <div class="panel panel-default">
        <header class="panel-heading">Respondió <%= answer.user.email %> hace <%= answer.created_at %></header>
        <div class="panel-body"><%= answer.body %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1">
      <%= render partial: "questions/comments", locals: {commentable: answer} %>
      <% if user_signed_in? %>
        <%= render partial: "questions/comments_form", locals: {commentable: answer} %>
      <% end %>
    </div>
  </div>
    <% end %>
  <% end %>

  <!-- new respusta -->
  <div class="row">
    <hr>

    <% if user_signed_in? %>
    <h3>Tú Respuesta</h3>
      <%= form_for [@question, @question.answers.build] do |f| %>

    <div class="col-xs-9">
      <div class="form-group">
        <%= f.text_area :body, class:"form-control", size:"60x12", placeholder:"Escribe tú respuesta" %>
      </div>
      <div class="form-group">
        <%= f.submit "Enviar Respuesta", class:"btn btn-primary" %>
      </div>

    </div>

      <% end %>
    <% end %>


  </div>
</div>
